<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<section class="user-wrapper list-wrapper wrapper">
  <div class="my-2">
    <div class="d-flex">
      <%- include('../../inc/search.ejs') %>
      <%- include('../../inc/sort.ejs') %>
      <%- include('../../inc/paranoid.ejs') %>
      <a href="/<%= currents[0] %>/<%= currents[1] %>?type=create" class="btn btn-primary ml-auto">회원등록</a>
    </div>
  </div>
  <table class="user-tbl table table-sm text-center border-bottom">
    <thead>
      <tr>
        <th>번호</th>
        <th>아이디</th>
        <th>이름</th>
        <th>이메일</th>
        <th>전화번호</th>
        <th>구분</th>
        <th>관리</th>
      </tr>
    </thead>
    <tbody>
      <% for(let v of lists) { %>
      <tr>
        <td rowspan="2"><%= v.id %></td>
        <td>
          <a href="/<%= currents[0] %>/<%= currents[1] %>/<%= v.id %>"><%= v.userid %></a>
        </td>
        <td><%= v.username %></td>
        <td><%= v.email %></td>
        <td><%= v.tel %></td>
        <td><%= v.level %></td>
        <td rowspan="2">
          <a href="/<%= currents[0] %>/<%= currents[1] %>/<%= v.id %>" class="btn btn-success">수정</a>
          <form action="/<%= currents[0] %>/<%= currents[1] %>" method="POST" class="d-inline-block"
            name="userDeleteForm">
            <input type="hidden" name="_method" value="DELETE">
            <input type="hidden" name="id" value="<%= v.id %>">
            <button class="btn btn-danger">삭제</button>
          </form>
        </td>
      </tr>
      <tr>
        <td colspan="5" class="text-left">
          <div>
            도로명주소 : <%- v.addr1 %>
          </div>
          <div>
            지번명주소 : <%- v.addr2 %>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <div class="mb-2">
    <p class="text-right">총 레코드: <%= totalRecord %>개</p>
  </div>
  <div class="pager-wrap">
    <%- include('../../inc/pager.ejs', pager) %>
  </div>
</section>
<script src="/js/<%= currents[1] %>/<%= currents[1] %>.js"></script>
<%- include('../../inc/foot.ejs') %>