<section class="title-wrapper">
	<div class="wrapper">
		<h2 class="title-wrap"><%= eval(PAGE+'.TITLE') %></h2>
		<p class="desc-wrap"><%= eval(PAGE+'.DESC') %></p>
		<div class="btn-wrap">
			<% if (user) { %>
				<a href="/<%= LANG %>/book/form" class="btn btn-primary"><%= BT.CREATE %></a>
			<% } else { %>
				<a href="/<%= LANG %>/auth/form" class="btn btn-success"><%= BT.JOIN %></a>
			<% } %>
			 
		</div>
	</div>
</section>