<header class="header-wrapper">
	<div class="header-top">
		<h1 class="logo">
			<a href="/admin">
				<img src="/img/admin/top_logo.jpg" alt="icon">
			</a>
		</h1>
		<a href="/" class="navi btn btn-success">
			사이트로 바로가기
		</a>
		<a href="/admin/auth/logout" class="navi btn btn-secondary">
			로그아웃
		</a>
	</div>
	<nav class="navi-wrap">
		<% for(let v of links.main) { %>
			<a href="<%= v.path %>" class="navi" <%=(v.target ? `target="${v.target}" ` : '' ) %>>
				<% if(secondPath===v.path2) { %>
					<img src="/img/admin/<%= v.src %>_on.jpg" alt="icon">
					<% } else { %>
						<img src="/img/admin/<%= v.src %>.jpg" alt="icon">
						<% } %>
			</a>
			<% } %>
	</nav>
	<%- include('./tab.ejs') %>
</header>
<script>

</script>