<div class="text-center my-4">
  <a href="<%= goList %>" class="btn btn-primary">리스트</a>
  <a href="javascript: onDelete();" class="btn btn-danger float-right mx-1">삭제</a>
  <a href="/<%= goPath %>/<%= id %>?<%= goQuery %>&type=update" class="btn btn-success float-right mx-1">수정</a>
  <form action="<%= goPath %>" name="deleteForm" method="POST">
    <% for(let v of goLists) { %>
    <input type="hidden" name="<%= v.key %>" value="<%= v.value %>">
    <% } %>
    <input type="hidden" name="id" value="<%= id %>">
    <input type="hidden" name="_method" value="DELETE">
  </form>
</div>
<script>
  function onDelete() {
    if (confirm('삭제하시겠습니까? 삭제하시면 복구되지 않습니다.')) {
      document.deleteForm.submit();
    }
  }
</script>