<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<section class="board-wrapper view-wrapper wrapper">
  <%- include('./inc-select.ejs') %> 
  <div class="tbl-wrap">
    <%- include(`../../board/${boardType}-view.ejs`) %> 
  </div>
</section>
<%- include('../../inc/foot.ejs') %>

