<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<section class="board-wrapper list-wrapper wrapper">
  <%- include('./inc-select.ejs') %>
  <div class="tbl-wrap">
    <%- include(`../../board/${boardType}-list.ejs`) %>
  </div>
</section>
<%- include('../../inc/foot.ejs') %>