<div class="form-inline mb-2">
  <select name="tblId" class="form-control" onchange="goLocation(this);">
    <option value="">선택하세요</option>
    <% for(let v of boardLists) { %> 
      <option value="/<%= currents[0] %>/<%= currents[1] %>?boardId=<%= v.id%> " <%= (v.id == boardId) ? 'selected' : ''%>><%= v.title %></option>
    <% } %>
  </select>
</div>
<script>
  function goLocation(el) {
    if($(el).val() !== '') location.href = $(el).val();
  }
</script>
