<li class="list">
  <form action="/<%= currents[0] %>/<%= currents[1] %>" method="POST">
    <input type="hidden" name="defaultColor" value="<%= color %>">
    <input type="hidden" name="defaultTxtColor" value="<%= txtColor %>">
    <input type="hidden" name="defaultName" value="<%= name %>">
    <% if(id && id !== '') { %>
      <input type="hidden" name="_method" value="<%= method %>">
      <input type="hidden" name="id" value="<%= id %>">
    <% } %>
    <div class="tag"><%= name %></div>
    <div class="input-wrap">
      <input type="text" name="name" class="form-control form-control-sm" placeholder="분류명" value="<%= name %>" onkeyup="onTxtChange(this);">
      <input type="color" name="color" value="<%= color %>" onchange="onColorChange(this);">
    </div>
    <div class="btn-wrap">
      <button type="button" class="btn btn-sm btn-dark" onclick="onSubmit(this);">
        <%= id === '' ? '등록' : '수정' %>
      </button>
      <% if(id !== '') { %>
        <button type="button" class="btn btn-sm btn-secondary" onclick="onColorDelete(this);">삭제</button>
      <% } %>
      <button type="button" class="btn btn-sm btn-secondary bt-reset" onclick="onColorReset(this);">리셋</button>
    </div>
  </form>
</li>