<%- include('../../inc/head.ejs') %>
<%- include('../../inc/header.ejs') %>
<section class="section-wrapper list-wrapper wrapper">
  <ul>
    <%- include('./section-form.ejs', { color: '#333333', name: '', id: '', txtColor: '#ffffff' }) %>
    <% 
      for(let v of lists) { 
        let value = { color: v.color, method: 'PUT', id: v.id, name: v.name, txtColor: v.txtColor }
    %>
      <%- include('./section-form.ejs', value) %>
    <% } %>
  </ul>
</section>
<script src="/js/color-convert.js"></script>
<script src="/js/section/section.js"></script>
<%- include('../../inc/foot.ejs') %>
