<link rel="stylesheet" href="/css/<%= currents[1] %>-<%= boardType %>.css">
<article class="board-container gallery-type view-page">
  <table class="table">
    <tbody>
      <tr>
        <td class="title" style="width: 160px;">번호</td>
        <td class="content"><%= list.id %></td>
      </tr>
      <tr>
        <td class="title">제목</td>
        <td class="content"><%= list.title %></td>
      </tr>
      <tr>
        <td class="title">작성자</td>
        <td class="content"><%= list.writer %></td>
      </tr>
      <tr>
        <td class="title">작성일</td>
        <td class="content"><%= list.updatedAt %></td>
      </tr>
      <% for(let v of list.imgs) { %>
      <tr>
        <td colspan="2">
          <div class="file-img my-2">
            <img src="<%= v.thumbSrc %>" class="mw-100">
          </div>
        </td>
      </tr>
      <% } %>
      <tr>
        <td colspan="2" class="td-content">
          <div><%= list.content %></div>
        </td>
      </tr>
      <% for(let v of list.files) { %>
      <tr>
        <td class="title">첨부 파일</td>
        <td class="content">
          <div class="file-link">
            <a href="/<%= currents[0] %>/download/<%=v.id%>"><%= v.name %></a>
          </div>
        </td>
      </tr>
      <% } %>
    </tbody>
  </table>
  <%- include('./inc/view-bottom.ejs', { id: list.id }) %>
</article>