<link rel="stylesheet" href="/css/<%= currents[1] %>-<%= boardType %>.css">
<article class="board-container gallery-type update-page">
  <form action="<%=goPath %>" method="post" enctype="multipart/form-data">
    <% for(let v of goLists) { %>
    <input type="hidden" name="<%= v.key %>" value="<%= v.value %>">
    <% } %>
    <input type="hidden" name="id" value="<%= list.id %> ">
    <input type="hidden" name="type" value="update">
    <table class="table border-bottom">
      <tbody>
        <tr>
          <td class="title" style="width: 15%;">제목</td>
          <td class="content">
            <input type="text" name="title" class="form-control" placeholder="제목">
          </td>
        </tr>
        <tr>
          <td class="title">작성자</td>
          <td class="content">
            <input type="text" name="writer" class="form-control" placeholder="작성자">
          </td>
        </tr>
        <tr>
          <td colspan="2">
            <textarea name="content" class="form-control" placeholder="내용을 입력하세요."
              style="min-height: 200px;"></textarea>
          </td>
        </tr>
        <tr>
          <td>이미지 첨부</td>
          <td>
            <% for(let i=0; i<useImg; i++) { %>
            <div class="file-wrap">
              <% if(list.files[i] && list.files[i].type === 'I') { %>
              <% let { thumbSrc, name, id, type } = list.files[i]; %>
              <img src="<%= thumbSrc %>" alt="<%= name %>" class="img">
              <div class="file"><%= name %></div>
              <button type="button" class="btn btn-sm btn-danger" data-idx="<%= id %>"
                onclick="onDeleteFile('<%= id %>', this)">삭제</button>
              <% } %>
            </div>
            <input type="file" name="img" class="form-control-file mb-2">
            <% } %>
          </td>
        </tr>
        <tr>
          <td>파일 첨부</td>
          <td>
            <% for(let i=0; i<useFile; i++) { %>
            <div class="file-wrap">
              <% if(list.files[i] && list.files[i].type === 'F') { %>
              <% let { name, id, type } = list.files[i]; %>
              <div class="file"><%= name %></div>
              <button type="button" class="btn btn-sm btn-danger" onclick="onDeleteFile('<%= id %>', this)">삭제</button>
              <% } %>
            </div>
            <input type="file" name="pds" class="form-control-file mb-2">
            <% } %>
          </td>
        </tr>
      </tbody>
    </table>
    <div class="text-center my-4">
      <a href="/<%= currents[0] %>/board?boardType=<%=boardType%>" class="btn btn-primary">리스트</a>
      <button class="btn btn-success float-right mx-1">수정</button>
      <button type="reset" class="btn btn-danger float-right mx-1">다시작성</button>
    </div>
  </form>
</article>
<script src="/js/axios.min.js"></script>
<script src="/js/<%= currents[1] %>/<%= boardType %>-update.js"></script>